@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yeni Mesaj Oluşturma</h1>
<br />
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.ReceiverID, "Alıcı")
        @Html.DropDownListFor(x => x.ReceiverID, ViewBag.WriterList as List<SelectListItem>, "Alıcı Seçin", new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Subject, "Konu")
        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.MessageDetails, "Mesajınız")
        @Html.TextAreaFor(x => x.MessageDetails, 10, 3, new { @class = "form-control" })
    </div>
    <br />
    <button class="btn btn-info">Mesajı Gönder</button>
}
